In [2]:
#este programa lee varios archivos json, xlsx y csv 
# y crea un archivo.csv de 500.000 filas con esos valores aleatoriamente
# 
# 
import pandas as pd
import numpy as np

# Leer archivos CSV, JSON y XLSX
df_csv1 = pd.read_csv("hombres.csv")
df_csv2 = pd.read_csv("apellidos.csv")
df_json = pd.read_json('poblaciones.json')
df_xlsx1 = pd.read_excel('Fechas.xlsx')

#coge las columnas necesarias de cada archivo leido y las mete en un dataframe 
# (df_combined)

df_combined = pd.DataFrame()
df_combined['NOMBRE'] = df_csv1['nombre']
df_combined['APELLIDO'] = df_csv2['apellido']
df_combined['POBLACIÓN'] = df_json['Categoria2Valor']
df_combined['FECHA-NACIMIENTO'] = df_xlsx1['Fechas']
df_combined['EDAD'] = df_xlsx1['Edad']
df_combined['VALORES'] = df_xlsx1['valores']
df_combined['SALARIO'] = df_xlsx1['salario']

# Combinar los DataFrames
#df_combined = pd.concat([df_csv, df_json, df_xlsx], ignore_index=True)
#reinicia los indices
df_combined.reset_index(drop=True, inplace=True)

# Crear un DataFrame vacío con las mismas columnas
df_expanded = pd.DataFrame(columns=df_combined.columns)

# Para cada columna, seleccionar aleatoriamente 500,000 valores, omitiendo valores nulos
for column in df_combined.columns:
    #La siguiente linea de código coge los valores de una columna eliminando los nulos
    # y los mete en el df non_nnull_values
    non_null_values = df_combined[column].dropna().values
    #La siguiente linea es para generar un error si la columna estuviese vacia.
    if len(non_null_values) == 0:
        raise ValueError(f"No hay datos no nulos suficientes en la columna {column} para crear el DataFrame de 500,000 filas")
    
    #esta line coge aleatoriamente valores de la columna creada non null values 
    # con reemplazamiento (se puede repetir) hasta 500.000 filas
    sampled_values = np.random.choice(non_null_values, 500000, replace=True)
    #Esta graba la columna en la columna correspondiente del data frame expanded 
    df_expanded[column] = sampled_values

# Desordenar las filas y resetear los índices, sin reemplazamiento, porque no queremos
# que se repita
df_expanded = df_expanded.sample(frac=1, random_state=42).reset_index(drop=True)
df_expanded

# Para cada columna en el DataFrame combinado
#for column in df_combined.columns:
    # Muestrear al azar con reemplazo para crear 500,000 entradas en esta columna
    #df_large[column] = np.random.choice(df_combined[column], 8, replace=True)

# Desordenar las filas del DataFrame resultante
#df_large = df_large.sample(frac=1).reset_index(drop=True)
#df_large
# Guardar el nuevo DataFrame en un archivo

df_expanded.to_csv('archivo_grande.csv', index=False)
#añadir esto (después de index=False) si quiero que los separadores decimales sean comas: 
# , sep=";", decimal=","
df_expanded
resultado=df_expanded.query('EDAD >= 98')
print(resultado)

                   NOMBRE     APELLIDO         POBLACIÓN     FECHA-NACIMIENTO  \
29                   ICAR       SEGUES           Euskadi           27/04/1995
32              LUIS SAUL        BACAS             Álava           22/02/2008
42               CRISPULO        MEDES  Saldo migratorio           17/09/2006
104        ADRIANO MANUEL    PRESMANES             Total           31/07/1997
125      INDALECIO MANUEL  DE LA VARGA          Gipuzkoa           28/09/1994
...                   ...          ...               ...                  ...
499792     UBALDO ANTONIO   GALLASTEGI             Álava  1999-09-12 00:00:00
499828    ADRIAN FERNANDO       REPISO             Álava  2007-03-06 00:00:00
499953   CONSTANTIN MIHAI        RAFIQ           Hombres           18/09/2006
499973  MARCELO SEBASTIAN      USTARIZ           Mujeres           17/06/2011
499994              KOLDO        LLAMA             Álava           19/09/1996

        EDAD     VALORES  SALARIO
29      99.0  443.166667   2464.8
32      98.0   98.166667    862.5
42      98.0  408.166667    741.0
104     98.0  323.166667   1368.0
125     99.0  228.166667    400.2
...      ...         ...      ...
499792  99.0  408.166667   2358.9
499828  99.0  198.166667   2503.2
499953  99.0  518.166667    816.0
499973  98.0  358.166667   1785.3
499994  98.0  468.166667    727.5

[10076 rows x 7 columns]

In [27]:
#Pruebas a descartar:
column='NOMBRE'
print(columns)
print(column)
non_null_values =df_combined[column].dropna().values
non_null_values

Index(['NOMBRE', 'APELLIDO', 'POBLACIÓN', 'FECHA-NACIMIENTO', 'EDAD'], dtype='object')
NOMBRE

array(['ANTONIO', 'JOSE', 'MANUEL', ..., 'ZBIGNIEW JAN', 'ZHENGPING',
       'ZLATAN'], dtype=object)

In [28]:
#Pruebas a descartar:
def aceptar_numero_positivo(numero):
    if numero <= 0:
        raise ValueError("Solo se permiten números positivos")